<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FPT AI</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="shortcut icon" href="#">
   
</head>

<body>
    
    <div class="container mt-3">
    <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#if text}}active{{/if}}" href="/text-to-speech">Text to speech</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if speech}}active{{/if}}" href="/speech-to-text">Speech to text</a>
  </li>
</ul></div>

    {{{body}}}
    </body>
</html>